* { 
  margin: 0;
  padding: 0; 
}

body {
  background: #f2f2f2;   
}

.content-wrapper {
  width: 1024px;
  margin: 0 auto; 
}

header {
  overflow: hidden;
}

.info {
  float: left;
}

.photo-block {
  float: right;
}

.photo {
  display: block;
}

.summary {
  color: 	#2F4F4F;
}




